<!doctype html>
<html ng-app="app">
    <head>
        <title>Whatever</title>

        <script src="angular.js"></script>
        <script src="https://demo-project-c9-alexandrutopliceanu.c9.io/socket.io/socket.io.js"></script>
        <script>
            var app = angular.module('app', []);

            app.factory('socket', function ($rootScope) {
                var socket = io.connect('https://demo-project-c9-alexandrutopliceanu.c9.io')
                return {
                    on: function (eventName, callback) {
                        socket.on(eventName, function () {
                            var args = arguments;
                            $rootScope.$apply(function () {
                                callback.apply(socket, args);
                            });
                        });
                    },
                    emit: function (eventName, data, callback) {
                        socket.emit(eventName, data, function () {
                            var args = arguments;
                            $rootScope.$apply(function () {
                                if (callback) {
                                    callback.apply(socket, args);
                                }
                            });
                        })
                    }
                };
            });

            app.filter('reverse', function() {
                return function(items) {
                    return items.slice().reverse();
                };
            });

            app.controller('Controller', function ($scope, socket) {
                $scope.newMessage = '';
                $scope.messages = [];

                $scope.onSubmit = function () {
                    socket.emit('message', {
                        date: new Date(),
                        user: 'me',
                        message: $scope.newMessage
                    });
                    $scope.newMessage = '';
                };

                socket.on('message', function (data) {
                    var imgs = data.message.match(/(https?:\/\/.*\.(?:png|jpg))/);
                    if (imgs && imgs.length > 0) {
                        data.img = imgs[0];
                    }
                    $scope.messages.push(data);
                });
            });

        </script>
    </head>

    <body ng-controller="Controller">
        <form ng-submit="onSubmit()">
            <input type="text" ng-model="newMessage"/>
            <input type="submit" value="Send"/>
        </form>
        <ul>
            <li ng-repeat="message in messages | reverse">
                <i>On</i> {{message.date}}
                <i>user</i> {{message.user}}
                <i>said:</i> {{message.message}}
                <img src="{{message.img}}"/>
            </li>
        </ul>
    </body>
</html>
