<!doctype html>
<html ng-app="app">
    <head>
        <title>App</title>
        <meta charset="utf-8">

        <!-- APP LOGIC -->
        <script src="http://code.angularjs.org/1.2.1/angular.js"></script>
        <script>
            var app = angular.module('app', []);
            app.controller('Controller', function ($scope) {
                $scope.comments = [
                    {
                        date: new Date,
                        user: 'Bot',
                        message: 'Hi!'
                    },
                    {
                        date: new Date,
                        user: 'Bot',
                        message: 'Start typing!'
                    }
                ];

                $scope.username = ''
                $scope.newComment = null
                $scope.postComment = function () {
                    username = this.username || 'Me'
                    if (this.newComment) {
                        this.comments.push({
                            date: new Date,
                            user: this.username,
                            message: this.newComment
                        });
                    }
                };
            });
        </script>
    </head>

    <body ng-controller="Controller">

        <div id="container">
            <div>Comments count: {{comments.length}}</div>

            <ul>
                <li ng-repeat="comment in comments">
                <i>On</i>({{comment.date}}) <b>{{comment.user}}</b> <i> said: </i> {{comment.message}}
                </li>
            </ul>

            <form ng-submit="postComment()">
                <input type="text" ng-model="username"/>
                <input type="text" ng-model="newComment"/>
                <input type="submit" value="Submit"/>
            </form>
        </div>

    </body>
</html>
