<a href="#/doodle/create" class="btn btn-primary">Add Doodle!</a>
<table class="table table-striped">
    <caption>Available Doodles</caption>
    <thead>
        <tr>
            <th>#</th>
            <th>Doodle Title</th>
            <th>Creator</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="doodle in doodles">
            <td>{{doodle.createdOn | date}}</td>
            <td>{{doodle.title}}</td>
            <td>{{doodle.creator.name}}</td>
            <td>
                <div class="btn-group">
                    <a href="#/doodle/edit/{{doodle._id}}" class="btn btn-default">Edit</a>
                    <a href="#/doodle/join/{{doodle._id}}" class="btn btn-default">Join</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
